/* navbar styles*/
nav {
  background-color: #45187f;
  color: #f2f5f6;
  margin: 0 auto;
  padding: 0.5rem 3rem;
  font-size: 80%;
}

nav li:first-child {
  flex-basis: auto;
  text-align: left;
  margin-right: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav img {
  width: 50%;
}

nav li:first-child {
  /* flex-basis: 100%;
  text-align: center; */
}

nav li a {
  text-decoration: none;
  color: #f2f5f6;
  font-size: 1.25rem;
}
nav li a:hover {
  text-decoration: underline;
  padding-bottom: 0.25rem;
  color: #f2f5f6;
}

nav li:last-child a {
  text-decoration: none;
  border: 1px solid #51d5ad;
  background-color: #51d5ad;
  border-radius: 3rem;
  padding: 1.15rem 2.3rem;
  font-size: 1.25rem;
}

nav li:last-child a:hover {
  background-color: #43ab8c;
}
