<nav>
  <ul>
    <li>
      <a href="https://rollicgames.com/"
        ><img src="../../assets/img/logo.jpg" alt=""
      /></a>
    </li>
    <li><a href="about.html">About</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">Contact</a></li>
    <li>
      <a href="https://www.linkedin.com/in/zeynep-dundar/"
        ><span class="fab fa-linkedin" aria-hidden="true"></span
        ><span class="sr-only">LinkedIn</span></a
      >
    </li>
    <li>
      <a class="new-game" [routerLink]="['/new-game']">Add New Game</a>
    </li>
  </ul>
</nav>
