<div class="new-game">
  <header class="title">New Game</header>
  <form>
    <div class="new-game__form">
      <div class="new-game__control">
        <input type="text" #gameName />
      </div>
      <div class="new-game__control">
        <input type="text" #bundler />
      </div>
      <div class="new-game__control">
        <input type="text" #owner />
      </div>
      <div class="new-game__control">
        <input class="file-upload" type="file" id="file" />
      </div>
      <div class="new-game__action">
        <button
          (click)="onCreateGame(gameName.value, bundler.value, owner.value)"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
