<div class="new-game">
  <h4>Add New Game</h4>
  <form [formGroup]="gameform" autocomplete="off">
    <div class="new-game__form">
      <div class="new-game__control">
        <input
          type="text"
          #gameName
          formControlName="gameName"
          placeholder="Game Name"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              gameform.get('gameName')?.invalid &&
              (gameform.get('gameName')?.dirty ||
                gameform.get('gameName')?.touched)
          }"
        />
        <small
          *ngIf="
            gameform.get('gameName')?.invalid &&
            (gameform.get('gameName')?.dirty ||
              gameform.get('gameName')?.touched)
          "
          >This field is required</small
        >
      </div>
      <div class="new-game__control">
        <input
          type="text"
          #bundle
          formControlName="bundle"
          placeholder="Bundle"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              gameform.get('bundle')?.invalid &&
              (gameform.get('bundle')?.dirty || gameform.get('bundle')?.touched)
          }"
        />
        <small
          *ngIf="
            gameform.get('bundle')?.invalid &&
            (gameform.get('bundle')?.dirty || gameform.get('bundle')?.touched)
          "
          >This field is required</small
        >
      </div>
      <div class="new-game__control">
        <input
          type="text"
          #owner
          formControlName="owner"
          placeholder="Owner"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              gameform.get('owner')?.invalid &&
              (gameform.get('owner')?.dirty || gameform.get('owner')?.touched)
          }"
        />
        <small
          *ngIf="
            gameform.get('owner')?.invalid &&
            (gameform.get('owner')?.dirty || gameform.get('owner')?.touched)
          "
          >Please enter a valid email</small
        >
      </div>
      <div class="new-game__control file-attach">
        <label
          ><fa-icon [icon]="faPaperclip"></fa-icon><span>Choose Files</span>
          <input
            class="file-upload"
            type="file"
            id="file"
            #icon
            formControlName="icon"
            [ngClass]="{
              'form-control': true,
              'is-invalid':
                gameform.get('icon')?.invalid &&
                (gameform.get('icon')?.dirty || gameform.get('icon')?.touched)
            }"
        /></label>
      </div>
      <small
        *ngIf="
          gameform.get('icon')?.invalid &&
          (gameform.get('icon')?.dirty || gameform.get('icon')?.touched)
        "
        >Please attach a icon file</small
      >
      <div class="new-game__action">
        <button (click)="save()" [disabled]="gameform.invalid">Save</button>
      </div>
    </div>
  </form>
</div>
