<div class="new-game">
  <header class="title">New Game</header>
  <div class="content">
    <form onSubmit="{null}">
      <div class="new-book__controls">
        <div class="new-book__control">
          <input type="text" />
        </div>
        <div class="new-book__control">
          <input type="number" min="0" step="1" />
        </div>
        <div class="new-book__control">
          <input type="text" />
        </div>
        <input class="file-upload" type="file" id="file" />
        <div class="new-book__actions">
          <Button type="submit">Save</Button>
        </div>
      </div>
    </form>
  </div>
</div>
