.container {
  padding: 0;
  padding-top: 3rem;
  margin: 0 auto;
  width: 50%;
}

.container > .row {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
a {
  text-decoration: none;
  border: 1px solid #51d5ad;
  background-color: #51d5ad;
  color: white;
  border-radius: 3rem;
  padding: 1rem 2.3rem;
}

a:hover {
  background-color: #43ab8c;
}

input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}
